@import '../../style/mixins';

.MainSection {
  padding: 60px 40px;
  @include flex-element (column);
  // display: flex;
  // flex-direction: column;
 color: whitesmoke;

 h1{
  font-size: 3em;
 }

  .imgContainer{
   @include flex-element (row, flex-start, center);
   // display: flex;
  // align-items: center;
  gap: 10px;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar{
    display: none;
   }
 }
}

@media only screen and (max-width: 770px) {
  .MainSection {
    padding: 60px 10px;
    h1 {
      font-size: 2em;
    }
  }
}