.TopRatedList {
  margin: 0;
  padding-top: 0px;
  gap: 20px;
  width: 100%;
  
 
  color: beige;
  box-shadow: 3px black;


  .TopRatedList__title {
    height: 80px;
    text-transform: uppercase;
    font-size: 1.07rem;
  }

  // .overview{
  //   height: 600px;
  // }
}

 @media only screen and (max-width: 770px) {
   .TopRatedList{
     .TopRatedList__title{
     height:50px;
      font-size:0.7rem ;
     }
   }
 }
