@import '../../style/mixins';

.Navbar {
  @include flex-element(row, space space-evenly);
  height: 7rem;
  background-color: rgb(26, 0, 45);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

 .list {
    display: flex;
    list-style: none;
    gap: 50px;
    padding-top: 35px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media only screen and (max-width: 1000px){
  .Navbar{
    height: 4rem;
    .list{
      display: none;
    }
  }
}
