@import "../../style/_mixins";

.MovieEntity {
  display: flex;
  margin-top: 7.5rem;
  color: white;
  text-transform: uppercase;

  .info {
    @include flex-element(column, space-between, flex-end);
    width: 22%;
    padding-left: 10px;

   

    .bottom {
      position: relative;
      width: 100%;
      align-self: flex-end;
      font-weight: bold;
      font-size: 0.9rem;

      p:nth-child(1),
      p:nth-child(3) {
        color: rgb(169, 169, 169);
      }

      ul {
        padding: 0;
        list-style-type: none;
      }

      .tagline {
        position: absolute;
        top: 0;
        right: -35px;
        writing-mode: vertical-rl;
        font-size: 1.5rem;
        font-weight: bold;
        height: 280px;
        transform: translateY(-120px);
      }
    }
  }
  .poster {
    width: 56%;
    height: 100vh;
    object-fit: cover;
  }

  .book {
    @include flex-element(column-reverse);
    width: 22%;

    .btn {
      @include box-model(0, 0, 20px 30px);
      max-width: 200px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
      transform: translate(-100px, -120px);
      transition: all 0.35s;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .MovieEntity {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    .info {
      width: auto;
    }
    .bottom {
      width: auto;
    }
    .tagline {
      font-weight: normal;
    }
    .title {
      font-size: small;
    }
    .poster {
      object-fit: contain;
      width: 180px;
      height: 300px;
    }
    .book {
      display: none;
    }
    
  }
}
